.card{
    width: 90rem;
    margin: auto;
    margin-top: 50px;
   
 
}
.addItem {
    margin-top: 2.5rem;
    width: 20rem;
    margin-left: 32rem;
    margin-bottom: 2.5rem;
    background-color: #8d021f;
}

.sendEmail {
    margin-top: -4.9rem;
    width: 10rem;
    margin-left: 70rem;
    margin-bottom: 2.5rem;
    background-color: #8d021f;
}
.prevButton {
    width: 8rem;
    margin-left: 5%;
    background-color: #1c4966;
}
.nextButton {
    width: 8rem;
    margin-top: -4rem;
    margin-left: 73rem;
    background-color: #1c4966;
}
.textBox {
    width: 75rem;
    margin-left: 6rem;
}